<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/fear.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="js/fear.js"></script>
</head>
<body>
   
    <div class="bar">


        <i class="fas fa-ellipsis-v" onclick="ka()"></i>
    </div>
    
    <div class="side" id="sides">


        

        <div class="cross">


            <i class="fas fa-times" onclick="fun()"></i>
        </div>
     



        <div class="side-nav">



            <ul>

                <li><a href="index.hbs">home</a></li>
                <li><a href="fear.hbs">fear</a></li>
                <li><a href="bit_pric.hbs">prices</a></li>
                <li><a href="login.hbs">login</a></li>


            </ul>


        </div>
    </div>


    <!-- index crypto -->

<div class="index">
<h1>crypto fear & greed index</h1>
</div>



<div class="fear-greed">



    

    <div class="fear">


        <img src="https://png.pngitem.com/pimgs/s/5-50111_smiley-hd-png-download.png" alt="">

        <h1 id="fear-one"></h1>

    </div>


    <div class="greed">


        <img src="https://media.istockphoto.com/vectors/bitcoin-emoji-face-vector-id1149973088?k=20&m=1149973088&s=170667a&w=0&h=xFHPDlU0XAHOTkolGaEEqhktHYFLQDPup-g3wvUwqac=" alt="">

        <h1 id="greed-one"></h1>

    </div>

</div>

</body>
</html>