<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="js/index.js"></script>
</head>
<body>
    



    
<!--         
   <p id="bitcoin"></p>

   <p id="do"></p> -->





   <!-- start row class bitcoin -->





<!-- 
    javascript file line  -->







<!-- 
start row class line -->





<div class="header">




<!-- nav bar line row class
 -->




 <div class="flex-one" id="click">


    <div class="head-one" >


        <h1 >bitcoiin</h1>


    <i class="fab fa-bitcoin"></i>




    </div>

    


    <div class="nav">



        <ul>

            <li><a href="index.hbs">home</a></li>

            <li><a href="fear.hbs">fear</a></li>


        <li><a href="bit_pric.hbs">prices</a></li>
        <li><a href="login.hbs">login</a></li>

        

        </ul>




    </div>



    <div class="bar">


        <i class="fas fa-ellipsis-v" onclick="ka()"></i>
    </div>

</div>
<!-- 
    side nav  bar row class -->



    <div class="side" id="sides">


        

        <div class="cross">


            <i class="fas fa-times" onclick="fun()"></i>
        </div>
     



        <div class="side-nav">



            <ul>

                <li><a href="index.hbs">home</a></li>
                <li><a href="index.hbs">fear</a></li>
                <li><a href="bit_pric.hbs">prices</a></li>
                <li><a href="login.hbs">login</a></li>


            </ul>


        </div>
    </div>




    <!-- heading row class end -->



    <div class="second">



        <div class="heading-two">



            <h1>secure way to  buy & <br>
            
            
                sell crypto
            </h1>


            <p>secured crypto investing <br>  from your phone</p>



            
        

        </div>
        
    

        <div class="img">


            <img src="img/three.png" alt="">



        </div>


    
    
    
    </div>






    
<!-- 
    price of all crpyto currency -->


<div class="three">


    <div class="bitcoin">

        <i class="fab fa-bitcoin"></i>

        <h1 id="bit"></h1>

        <h2 id="price"></h2>
    </div>



    <div class="eth">

        <i class="fab fa-ethereum"></i>

        <h1 id="eth_name"></h1>
        <h2 id="eth_price"></h2>

    </div>




    <div class="doge">

<img src="img/dog.png" alt="" width="25px" height="25px">


<h1 id="dog_name"></h1>

<h2 id="dog_price"></h2>


    </div>


</div>





<!-- last row class is end row class
 -->




 </div>













    

<!-- 

last row class line -->


</body>
</html>