<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style/login.css">
    <script src="js/login.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>


    <div class="bar">


        <i class="fas fa-ellipsis-v" onclick="ka()"></i>
    </div>
    
    <div class="side" id="sides">


        

        <div class="cross">


            <i class="fas fa-times" onclick="fun()"></i>
        </div>
     



        <div class="side-nav">



            <ul>

                <li><a href="index.hbs">home</a></li>
                <li><a href="fear.hbs">fear</a></li>
                <li><a href="bit_pric.hbs">prices</a></li>
                <li><a href="login.hbs">login</a></li>


            </ul>


        </div>
    </div>

    <div class="center">

<div class="hi">


    <h1>hi, welcome</h1>

    <p>best wallet for your crypto-coins!</p>
</div>





<div class="form">


    <form action="/login.hbs" method="Post">
    
        <p>email address</p>

        <input type="email" name="email" id="" placeholder="email address">

        <br>

        <br>
        <br>

        <br>


<p>password</p>

<input type="password" name="password" id="" placeholder="password">
<br>

        <br>
    

        <br>
        
<br>
<input type="submit" value="submit" id="" >

    </form>

</div>

    </div>



</body>
</html>